/*------------------------------------------------------------------------------
Molecule: Banner
------------------------------------------------------------------------------*/
.block--banner {
  position: relative;
  display: grid;
  align-content: center;
  width: 100%;
  min-height: 55vh;
  text-align: center;
  .field--title {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    margin-bottom: var(--space--2xl);
    padding: var(--space--sm);
    color: var(--white);
    background-color: var(--blue);
    font-size: var(--font-size--5xl);
  }
  .field--field-image {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    div {
      height: 100%;
    }
    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
.block--issue-content-issue-banner {
  margin-bottom: var(--space--2xl);
}
