/*------------------------------------------------------------------------------
Atom: Forms
--------------------------------------------------------------------------------
1. Dark Mode
------------------------------------------------------------------------------*/
form {
  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
  }
  > fieldset {
    margin-top: var(--space--lg);
    padding: var(--space--lg);
    border: solid var(--border-width--lg) var(--gray--lighter--80);
  }
}
legend,
label {
  display: block;
  margin-bottom: var(--space--2xs);
  padding: 0;
  font-weight: var(--font-weight--semibold);
  &.required:after,
  &.form-required:after,
  .form-required:after {
    content: " *";
    color: var(--blue);
    font-weight: var(--font-weight--regular);
  }
}
input,
textarea,
select {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: var(--space--md);
  padding: var(--space--xs);
  color: var(--black);
  border: solid var(--border-width--md) var(--gray--lighter--80);
  border-radius: var(--border-radius-round);
  background-color: var(--gray--lighter--90);
  box-shadow: none;
  font-size: var(--font-size--md);
  @media (min-width: $medium) {
    width: auto;
    border-width: var(--border-width--lg);
  }
  &:focus {
    outline: none;
    @media (-ms-high-contrast: active) {
      border-style: dotted;
    }
  }
  &:disabled {
    cursor: not-allowed;
    color: var(--gray);
    border-color: var(--gray);
    background-color: var(--gray--lighter--60);
  }
}
input,
textarea,
select {
  &:focus {
    border-color: var(--dark-blue--lighter--60);
    box-shadow: var(--shadow--soft);
  }
}
input[type="submit"] {
  width: auto;
}
::placeholder {
  opacity: 1; /* Firefox */
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--gray);
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--gray);
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--gray);
}
