/*------------------------------------------------------------------------------
Atom: Background Colors
------------------------------------------------------------------------------*/
.gray,
.blue,
.dark-blue {
  padding: var(--space--sm);
}
.gray {
  background-color: var(--gray--lighter--80);
}
.blue {
  --heading-color: var(--light-green--lighter--20);
  --link-color: var(--white);

  color: var(--white);
  background-color: var(--blue);
  font-weight: var(--font-weight--light);
}
.dark-blue {
  --heading-color: var(--light-green);
  --link-color: var(--blue--lighter--80);

  color: var(--white);
  background-color: var(--dark-blue);
  font-weight: var(--font-weight--light);
}
