/*------------------------------------------------------------------------------
Molecule: Main Navigation
------------------------------------------------------------------------------*/
@import "../../../00-utilities/_breakpoints.scss";
.main-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: grid;
  overflow: hidden;
  grid-template-rows: 1fr var(--touch-target--min);
  width: 75vw;
  max-width: 15rem;
  min-height: 100%;
  padding: var(--space--sm);
  padding-top: calc(var(--toggle-size--lg) + var(--space--2xl));
  transition: transform var(--ease--standard) var(--transition-speed--fast);
  background: rgba(255, 255, 255, 0.9);
  @media (max-height: 30rem) {
    .main-menu {
      position: absolute;
      padding-top: var(--toggle-size--lg);
    }
  }
  &.menu--closed {
    transform: translatex(-100%);
  }
  ul {
    width: 100%;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    font-weight: var(--font-weight--bold);
  }
  a {
    display: block;
    padding: var(--space--md);
    text-decoration: none;
    color: var(--black);
    &:hover,
    &:active,
    &:focus {
      color: var(--white);
    }
  }
}
.toggle-menu {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-rows: auto auto;
  padding: 0;
  transition: all var(--ease--standard) var(--transition-speed--fast);
  border: none;
  background: transparent;
  &[aria-expanded="true"] {
    position: fixed;
    top: var(--space--md);
    left: var(--space--xl);
  }
  svg {
    fill: var(--black);

    width: var(--toggle-size--sm);
    height: var(--toggle-size--sm);
    @media (min-width: $medium) {
      width: var(--toggle-size--md);
      height: var(--toggle-size--md);
    }
    @media (min-width: $large) {
      width: var(--toggle-size--lg);
      height: var(--toggle-size--lg);
    }
    @media (forced-colors: active) {
      fill: LinkText;
    }
  }
  &:hover {
    background-color: var(--gray--lighter--80);
  }
}
.toggle-menu-text {
  margin-top: -0.8rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  font-size: var(--font-size--lg);
  font-weight: var(--font-weight--bold);
}
.toolbar-icon-9 {
  .main-menu {
    padding-top: 12rem;
  }
  .toggle-menu[aria-expanded="true"] {
    top: calc(79px + var(--space--md));
  }
}
