$transition_duration: 100ms;
$pipes: 4;
@function border-pipeline ($transition_duration, $pipe) {
  @return $transition_duration*$pipe;
}

@mixin border-animations-off {
  &:before {
    transition: var(--transition-speed--fast) background var(--ease--standard);
  }
  &:after {
    transition: var(--transition-speed--fast) background var(--ease--standard);
  }
}

@mixin border-animation($dimension, $easing , $pipe ) {
  -web-kit-transition: $transition_duration $dimension $easing border-pipeline($transition_duration, $pipe);

  transition: $transition_duration $dimension $easing border-pipeline($transition_duration, $pipe);
}
@mixin top-border-animations {
  &:before {
    @include border-animation(width, ease, 3);

    position: absolute;
    top: calc(-1 * var(--border-offset));
    left: calc(-1 * var(--border-offset));
    width: 0;
    height: var(--border-width--md);
    content: "";
    background: var(--link-decoration-color);
    @media (forced-colors: active) {
      background: LinkText;
    }
  }
  &:after {
    @include border-animation(height, ease, 2);

    position: absolute;
    top: calc(-1 * var(--border-offset));
    right: calc(-1 * var(--border-offset));
    width: var(--border-width--md);
    height: 0;
    content: "";
    background: var(--link-decoration-color);
    @media (forced-colors: active) {
      background: LinkText;
    }
  }
}

@mixin bottom-border-animations {
  &:after {
    @include border-animation(width, ease, 1);

    position: absolute;
    right: calc(-1 * var(--border-offset));
    bottom: calc(-1 * var(--border-offset));
    width: 0;
    height: var(--border-width--md);
    content: "";
    background: var(--link-decoration-color);
    @media (forced-colors: active) {
      background: LinkText;
    }
  }
  &:before {
    @include border-animation(height, ease, 0);

    position: absolute;
    bottom: calc(-1 * var(--border-offset));
    left: calc(-1 * var(--border-offset));
    width: var(--border-width--md);
    height: 0;
    content: "";
    background: var(--link-decoration-color);
    @media (forced-colors: active) {
      background: LinkText;
    }
  }
}

@mixin border-animation-top-offset {
  &:before {
    @include border-animation(width, ease, 0);

    width: calc(100% + var(--border-offset)*2);
  }
  &:after {
    @include border-animation(height, ease, 1);

    height: calc(100% + var(--border-offset)*2);
  }
}

@mixin border-animation-bottom-offset {
  &:after {
    @include border-animation(width, ease, 2);

    width: calc(100% + var(--border-offset)*2);
  }
  &:before {
    @include border-animation(height, ease, 3);

    height: calc(100% + var(--border-offset)*2);
  }
}
