@mixin visually-hidden {
  clip-path: inset(50%);

  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

@mixin default-focus-outline {
  outline: solid var(--border-width--md);
  outline-color: var(--link-color);
  outline-offset: var(--border-width--md);
  @media (forced-colors: active) {
    outline-color: LinkText;
  }
}
