/*------------------------------------------------------------------------------
Molecule: Basic Blocks
------------------------------------------------------------------------------*/
.views-field-field-sidebar {
  margin: var(--space--md) 0 var(--space--md) var(--space--2xl);
  padding: var(--space--md);
  background-color: var(--gray--lighter--80);
}
.block--basic {
  &.gray,
  &.blue,
  &.dark-blue {
    padding: var(--space--sm);
  }
}
