/*------------------------------------------------------------------------------
Molecule: Quote
------------------------------------------------------------------------------*/
.quote,
.block--quote {
  margin: var(--space--2xl) 0;
  padding: var(--space--2xl);
  text-align: center;
  background: url("/themes/contrib/wwundow/build/images/quote.svg") 50% 50%/contain no-repeat;
  font-family: var(--font--serif);
  font-size: var(--font-size--xl);
}
