/*------------------------------------------------------------------------------
Organism: Related Stories
------------------------------------------------------------------------------*/
.block--related-stories-related-stories {
  --heading-color: var(--light-green--lighter--20);

  margin-bottom: var(--space--3xl);
  padding: var(--space--lg) var(--space--sm);
  text-align: center;
  color: var(--white);
  background-color: var(--blue);
  font-weight: var(--font-weight--light);
  h2 {
    margin-bottom: var(--space--xl);
    text-transform: uppercase;
    color: var(--white);
    font-family: var(--font--title);
  }
  .card-container {
    --link-color: var(--white);
    --link-color--focus: var(--white);
    --link-decoration-color: var(--white);

    max-width: var(--content-area-max-width);
  }
}
