/*------------------------------------------------------------------------------
Organism: Story Banner
------------------------------------------------------------------------------*/
@import "../../../00-utilities/_breakpoints.scss";
.block--story-blocks-story-banner {
  .views-row {
    @media(min-width: $small) {
      gap: var(--space--sm);

      display: grid;
    }
  }
  .views-field-title {
    grid-row: 2/ span 1;
  }
  h1 {
    margin: 0;
    font-weight: var(--font-weight--black);
  }
  .views-field-field-subhead {
    grid-row: 3/ span 1;
    font-size: var(--font-size--lg);
    font-weight: var(--font-weight--bold);
  }
  .views-field-field-author {
    grid-row: 4/ span 1;
    font-size: var(--font-size--sm);
  }
  .views-field-field-featured-image {
    grid-column: 1/ span 1;
    grid-row: 1/ span all;
    @media(min-width:$medium) {
      margin-bottom: var(--space--2xl);
    }
    img {
      object-position: 50% 10%;

      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      max-height: 60vh;
      ;
    }
  }
  .views-field:not(.views-field-field-featured-image) {
    max-width: var(--content-area-max-width--sm);
    margin: var(--space--md) auto;
    padding: 0 var(--space--md);
  }
}
.layout--version-1,
.layout--version-2,
.layout--version-3 {
  .block--story-blocks-story-banner {
    .views-row {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      margin: 0 auto;
    }
    .views-field-field-author {
      margin-bottom: var(--space--lg);
    }
  }
}
.layout--version-1,
.layout--version-2 {
  .block--story-blocks-story-banner {
    .views-row {
      @media (min-width: $medium) {
        --h1-size: 4rem;
      }
    }
    .views-field-field-featured-image {
      grid-row: 1/span 1;
    }
    .views-field-field-author {
      &:after {
        display: block;
        width: 100%;
        height: var(--border-width--lg);
        margin: var(--space--xl) 0;
        content: "";
        background-color: var(--blue);
      }
    }
  }
}
.layout-version-2 {
  h1 {
    text-transform: none;
    font-family: var(--font--serif);
  }
}
.layout--version-3 {
  .block--story-blocks-story-banner {
    margin-top: var(--space--3xl);
    .views-row {
      @media (min-width: $medium) {
        --h1-size: 4rem;
      }
    }
    .views-field {
      max-width: var(--content-area-max-width--sm);
      margin: auto;
    }
    .views-field-title {
      grid-row: 1/span 1;
    }
    .views-field-field-featured-image {
      grid-column: unset;
      grid-row: 5/span 1;
      img {
        max-height: unset;
      }
    }
    .views-field-field-subhead {
      color: var(--dark-blue);
    }
  }
}
