/*------------------------------------------------------------------------------
Organism: Paragraph Aside
------------------------------------------------------------------------------*/
@import "../../../00-utilities/_breakpoints.scss";
.paragraph--type--aside {
  --h2-size: var(--space--lg);
  --heading-color: var(--dark-blue);

  padding: var(--space--md);
  color: var(--dark-blue);
  background-color: var(--blue--lighter--80);
  box-shadow: var(--shadow--soft);
  &.center {
    width: 80%;
    margin: auto;
  }
  @media (min-width: $small) {
    &.left {
      float: left;
      width: 60%;
    }
    &.right {
      float: right;
      width: 60%;
    }
  }
  @media (min-width: $large) {
    &.stretch {
      margin-right: -10%;
      margin-bottom: var(--space--md);
      margin-left: -10%;
    }
    &.left {
      margin-right: var(--space--md);
      margin-bottom: var(--space--md);
      margin-left: -20%;
    }
    &.right {
      margin-right: -20%;
      margin-bottom: var(--space--md);
      margin-left: var(--space--md);
    }
  }
}
