/*------------------------------------------------------------------------------
Molecule: Search
------------------------------------------------------------------------------*/
.block--search-form-block {
  gap: var(--space--md);

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--space--2xl);
  form {
    display: flex;
    flex-flow: row wrap;
  }
  input {
    height: 100%;
    margin: 0;
  }
  .field--title {
    margin: 0;
    text-transform: none;
    color: var(--black);
    font-family: var(--font--sans-serif);
    font-size: var(--font-size--lg);
    &:after {
      content: ":";
    }
  }
}
.search-page {
  max-width: var(--content-area-max-width);
  margin: auto;
}
