.block--nodearticlebody .field--body > p:first-of-type:first-letter {
  display: inline-block;
  float: left;
  margin-top: 0.35rem;
  color: var(--heading-color);
  font-size: var(--font-size--7xl);
  font-weight: var(--font-weight--bold);
  line-height: 0.7;
  @media(min-width: $medium) {
    font-size: var(--font-size--8xl);
  }
}
.layout--version-2 {
  .field--field-paragraph > .field-item:first-of-type p:first-of-type:first-letter,
  .block--nodearticlebody .field--body > p:first-of-type:first-letter {
    float: left;
    margin-top: 0.35rem;
    margin-right: var(--space--xs);
    color: var(--blue);
    font-family: var(--font--serif);
    font-size: 4rem;
    font-weight: var(--font-weight--bold);
    line-height: 0.7;
    @media(min-width: $medium) {
      font-size: 6rem;
    }
  }
}
.layout--version-3 {
  .field--field-paragraph > .field-item:first-of-type p:first-of-type:first-letter,
  .block--nodearticlebody .field--body > p:first-of-type:first-letter {
    float: left;
    margin-top: 0.35rem;
    margin-right: var(--space--xs);
    color: var(--dark-blue);
    font-family: var(--font--serif);
    font-weight: var(--font-weight--bold);
    line-height: 0.7;
    @media(min-width: $medium) {
      font-size: 6rem;
    }
  }
}
