/*------------------------------------------------------------------------------
Atom: Text - Headings
------------------------------------------------------------------------------*/
:root {
  --h1-size: var(--font-size--7xl);
  --h2-size: var(--font-size--4xl);
  --h3-size: var(--font-size--3xl);
  --h4-size: var(--font-size--2xl);
  --h5-size: var(--font-size--xl);
  --h6-size: var(--font-size--lg);
  --heading-color: var(--blue);
  @media(min-width: $medium) {
    --h1-size: var(--font-size--8xl);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  word-wrap: break-word;
  color: var(--heading-color);
  font-family: var(--font--serif);
}
h1 {
  font-size: var(--h1-size);
}
h2 {
  font-size: var(--h2-size);
}
h3 {
  font-size: var(--h3-size);
}
h4 {
  font-size: var(--h4-size);
}
h5 {
  font-size: var(--h5-size);
}
h6 {
  font-size: var(--h6-size);
}
.layout--version-1 {
  h1 {
    --heading-color: var(--black);
  }
}
.layout--version-3 {
  --heading-color: var(--dark-blue);
}
.views-field-field-subhead,
.field--field-subhead {
  font-family: var(--font--serif);
}
