/*------------------------------------------------------------------------------
Atom: Text - Paragraph
------------------------------------------------------------------------------*/
p {
  line-height: 1.5;
}
.highlight-text p {
  color: var(--dark-blue--darker--20);
  font-size: var(--font-size--4xl);
  font-style: italic;
}
