/*------------------------------------------------------------------------------
Helper: Layout Builder
------------------------------------------------------------------------------*/
.layout-builder-form {
  position: relative;
  z-index: 3;
  margin-top: 3.8rem;
  text-align: center;
}
.layout-builder-discard-changes {
  margin-top: var(--logo-size);
  text-align: center;
}
#media-library-content {
  font-size: var(--font-size--xs);
  input[type="checkbox"].form-checkbox {
    width: 1rem;
    height: 1rem;
    opacity: unset;
  }
  .js-media-library-views-form {
    gap: var(--space--sm);

    display: flex;
    flex-flow: row wrap;
    margin-top: var(--space--sm);
  }
  div.js-media-library-item {
    gap: var(--space--sm);

    display: grid;
    grid-template-columns: auto 1fr;
  }
  div.views-field-rendered-entity {
    overflow: hidden;
    max-width: 6rem;
  }
}
.js-media-library-menu {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-bottom: solid var(--border-width--lg) var(--gray);
  &:nth-of-type(2) {
    margin-top: var(--space--xs);
    margin-left: var(--space--sm);
    border-bottom-color: var(--gray--lighter--80);
  }
  li {
    margin-bottom: 0;
  }
  a {
    --oline-color: var(--link-color--focus);

    display: block;
    margin-right: var(--space--2xs);
    padding: var(--space--2xs) var(--space--sm);
    text-decoration: none;
    color: var(--black);
    border: solid var(--border-width--sm) transparent;
    outline-offset: var(--outline-offset--inset);
    background-color: var(--gray--lighter--80);
  }
}
