{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <div class="branding">
    {% if site_logo %}
      <a class="logo-link" href="https://wwu.edu">
        <img class="logo" src="{{ site_logo }}" alt="{{ 'Western Washington University Make Waves'|t }}" />
      </a>
    {% endif %}  
    {% if site_name %}     
      <a class="home-link" href="{{ path('<front>') }}" rel="home">
        <img src="/themes/contrib/wwundow/build/images/masthead.svg" alt="Western Washington University: Window" />    
      </a>      
    {% endif %}  
  </div>
{% endblock %}
