/*------------------------------------------------------------------------------
Organism: Views - Mini Pager
------------------------------------------------------------------------------*/
@import "../../../00-utilities/_breakpoints.scss";
.js-pager__items {
  position: absolute;
  top: 35%;
  left: calc(-1* var(--space--2xl));
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: calc(100% + var(--space--3xl));
  margin: var(--space--2xl) 0;
  padding: 0;
  list-style: none;
}
.js-pager__items a {
  display: block;
  text-decoration: none;
}
.js-pager__items svg {
  fill: var(--blue);

  width: 2;
  height: 1005;
  margin: -1rem;
}
.previous {
  justify-self: start;
}
.next {
  grid-column: 2 / span 1;
  justify-self: end;
}
.paper-issues {
  max-width: calc(100vw - var(--space--3xl));
}
.block--issues-block-1 {
  .field--title {
    text-transform: uppercase;
    font-family: var(--font--title);
  }
}
.mobile-paper-issues {
  display: none;
}
@media (max-width: $small) {
  .paper-issues {
    display: none;
  }
  .mobile-paper-issues {
    display: block;
    margin: var(--space--2xl) 0;
  }
}
