{#
/**
 * @file
 * Theme override for a views mini-pager.
 *
 * Available variables:
 * - heading_id: Pagination heading ID.
 * - items: List of pager items.
 *
 * @see template_preprocess_views_mini_pager()
 */
#}
{{ attach_library('wwundow/mini_pager') }}
{% if items.previous or items.next %}
  <nav role="navigation" aria-labelledby="{{ heading_id }}">
    <h3 id="{{ heading_id }}" class="visually-hidden">{{ 'Pagination'|t }}</h3>
    <ul class="js-pager__items">
      {% if items.previous %}
        <li class="previous">
          <a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ items.previous.text }}</span>
            <span aria-hidden="true" "pager-icon"><svg xmlns="http://www.w3.org/2000/svg" height="84" viewBox="0 0 24 24" width="84"><path d="M14 7l-5 5 5 5V7z"/><path d="M24 0v24H0V0h24z" fill="none"/></svg></span>
          </a>
        </li>
      {% endif %}
      {% if items.next %}
        <li class="next">
          <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">>{{ items.next.text }}</span>
            <span aria-hidden="true" "pager-icon"><svg xmlns="http://www.w3.org/2000/svg" height="84" viewBox="0 0 24 24" width="84"><path d="M10 17l5-5-5-5v10z"/><path d="M0 24V0h24v24H0z" fill="none"/></svg></span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
