/*------------------------------------------------------------------------------
Organism: Views - Class Notes
------------------------------------------------------------------------------*/
@import "../../../00-utilities/_breakpoints.scss";
.block--issue-content-class-notes-page,
.block--issue-content-class-notes {
  --h1-size: 4.5rem;
  --h3-size: var(--font-size--lg);
  --heading-color: var(--dark-blue);

  max-width: calc(100vw - (var(--space--sm) * 2));
  margin: var(--space--3xl) auto;
  @media (min-width: $content-area-max-width) {
    max-width: var(--content-area-max-width);
  }
  h1 {
    margin-bottom: var(--space--md);
    text-align: center;
    font-weight: var(--font-weight--black);
  }
  h3 {
    margin-bottom: 0;
    text-transform: none;
  }
  p:first-of-type {
    margin-top: var(--space--xs);
  }
  .views-exposed-form {
    gap: var(--space--sm);

    display: flex;
    flex-flow: row wrap;
    align-items: end;
    justify-content: center;
    margin: var(--space--2xl) 0;
  }
  .views-field-field-featured-image {
    max-width: 30%;
    margin: auto;
  }
  .pager {
    margin: var(--space--2xl) 0;
  }
}
