{#
/**
 * @file
 * Three column layout that extends across the full page width.
 */
 #}
 {{ attach_library('wwundow/layout_threecol') }}
  {%
   set classes = [
     'layout',
     'layout--threecol--page-width'
   ]
  %}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.first %}
      <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first') }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second') }}>
        {{ content.second }}
      </div>
    {% endif %}

    {% if content.third %}
      <div {{ region_attributes.third.addClass('layout__region', 'layout__region--third') }}>
        {{ content.third }}
      </div>
    {% endif %}
  </div>
{% endif %}
