/*------------------------------------------------------------------------------
Templates: Layouts - Three column
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
@import "../../../00-utilities/_breakpoints.scss";
.layout--threecol-section {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--content-area-max-width);
  margin: auto;
  > .layout__region {
    flex: 0 1 100%;
  }
  > .layout__region--first {
    @media (min-width: $small) {
      padding-right: var(--space--xs);
    }
  }
  > .layout__region--second {
    @media (min-width: $small) {
      padding-right: var(--space--xs);
      padding-left: var(--space--xs);
    }
  }
  > .layout__region--third {
    @media (min-width: $small) {
      padding-left: var(--space--xs);
    }
  }
  &.layout--threecol-section--25-50-25 > .layout__region--first,
  &.layout--threecol-section--25-50-25 > .layout__region--third,
  &.layout--threecol-section--25-25-50 > .layout__region--first,
  &.layout--threecol-section--25-25-50 > .layout__region--second,
  &.layout--threecol-section--50-25-25 > .layout__region--second,
  &.layout--threecol-section--50-25-25 > .layout__region--third {
    font-size: var(--font-size--sm);
    @media (min-width: $small) {
      flex: 0 1 25%;
    }
  }
  &.layout--threecol-section--25-50-25 > .layout__region--second,
  &.layout--threecol-section--25-25-50 > .layout__region--third,
  &.layout--threecol-section--50-25-25 > .layout__region--first {
    @media (min-width: $small) {
      flex: 0 1 50%;
    }
  }
  &.layout--threecol-section--33-34-33 > .layout__region--first,
  &.layout--threecol-section--33-34-33 > .layout__region--third {
    font-size: var(--font-size--sm);
    @media (min-width: $small) {
      flex: 0 1 33%;
    }
  }
  &.layout--threecol-section--33-34-33 > .layout__region--second {
    font-size: var(--font-size--sm);
    @media (min-width: $small) {
      flex: 0 1 34%;
    }
  }
}
.layout--threecol--page-width {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  > .layout__region {
    flex: 1 0 100%;
    max-width: none;
  }
  > .layout__region--first {
    @media (min-width: $small) {
      flex-basis: 28%;
      padding-right: var(--space--xs);
    }
  }
  > .layout__region--second {
    @media (min-width: $small) {
      flex-basis: 44%;
      max-width: var(--content-area-max-width--sm);
      padding-right: var(--space--xs);
      padding-left: var(--space--xs);
    }
    @media (min-width: $large) {
      min-width: 24rem;
    }
  }
  > .layout__region--third {
    @media (min-width: $small) {
      flex-basis: 28%;
      padding-left: var(--space--xs);
    }
  }
}
