{#
/**
 * @file
 * Theme override for a menu block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: HTML attributes for the containing element.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: HTML attributes for the title element.
 * - content_attributes: HTML attributes for the content element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * Headings should be used on navigation menus that consistently appear on
 * multiple pages. When this menu block's label is configured to not be
 * displayed, it is automatically made invisible using the 'visually-hidden' CSS
 * class, which still keeps it visible for screen-readers and assistive
 * technology. Headings allow screen-reader and keyboard only users to navigate
 * to or skip the links.
 * See http://juicystudio.com/article/screen-readers-display-none.php and
 * http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 */
#}
{{ attach_library('wwundow/main_navigation') }}

{% set heading_id = attributes.id ~ '-menu'|clean_id %}
{%
  set classes = [
    'block--menu',
    'menu--' ~ (derivative_plugin_id ? derivative_plugin_id|clean_class : plugin_id|clean_class),
  ]
%}
{% set attributes = attributes.addClass(classes) %}

<button class="toggle-menu" aria-expanded="false">
	<span class="toggle-menu-icon" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" height="80px" viewbox="0 0 24 24" width="80px"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
  </span>
	<span class="toggle-menu-text">Menu</span>
</button>

<div class="main-menu menu--closed">
  <nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes|without('role', 'aria-labelledby') }}>
    {# Label. If not displayed, we still provide it for screen readers. #}
    {% if not configuration.label_display %}
      {% set title_attributes = title_attributes.addClass('visually-hidden') %}
    {% endif %}
    {{ title_prefix }}
    <h2{{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</h2>  
    {{ title_suffix }}

    {# Menu. #}
    {% block content %}
      {{ content }}
    {% endblock %}
  </nav>
</div>
