/*------------------------------------------------------------------------------
Molecule: Page Navigation
------------------------------------------------------------------------------*/
main {
  .page-menu {
    gap: var(--space--lg);

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: -1rem;
    padding: 0;
    list-style: none;
    a {
      padding: var(--space--sm);
      text-decoration: none;
      text-transform: uppercase;
      color: var(--dark-blue);
      font-family: var(--font--title);
      font-weight: var(--font-weight--black);
      &:hover,
      &:active,
      &:focus {
        color: var(--white);
      }
    }
  }
}
