/*------------------------------------------------------------------------------
Templates: Layouts
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
main {
  .layout__region {
    max-width: calc(100vw - (var(--space--sm) * 2));
    margin-right: auto;
    margin-left: auto;
    @media(min-width: $medium) {
      max-width: none;
    }
  }
}
