{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>

    <!-- preload fonts -->
    <!-- Material icons -->
    <link rel="preload" href="/{{ basepath ~ directory }}/dist/fonts/material-icons.woff2" as="font" crossorigin>
    <link rel="preload" href="/{{ basepath ~ directory }}/dist/fonts/fira-sans-normal-300.woff2" as="font" crossorigin>
    <link rel="preload" href="/{{ basepath ~ directory }}/dist/fonts/fira-sans-normal-400.woff2" as="font" crossorigin>
    <link rel="preload" href="/{{ basepath ~ directory }}/dist/fonts/fira-sans-normal-600.woff2" as="font" crossorigin>
    <link rel="preload" href="/{{ basepath ~ directory }}/dist/fonts/fira-sans-normal-700.woff2" as="font" crossorigin>
    <link rel="preload" href="/{{ basepath ~ directory }}/dist/fonts/fira-sans-extra-condensed-300.woff2" as="font" crossorigin>
    <link rel="preload" href="/{{ basepath ~ directory }}/dist/fonts/fira-sans-extra-condensed-400.woff2" as="font" crossorigin>
    <link rel="preload" href="/{{ basepath ~ directory }}/dist/fonts/fira-sans-italic.woff2" as="font" crossorigin>
    <link rel="preload" href="/{{ basepath ~ directory }}/dist/fonts/montserrat-700.woff2" as="font" crossorigin>
    <link rel="preload" href="/{{ basepath ~ directory }}/dist/fonts/montserrat-900.woff2" as="font" crossorigin>
    <link rel="preload" href="/{{ basepath ~ directory }}/dist/fonts/pt-serif-400.woff2" as="font" crossorigin>
    <link rel="preload" href="/{{ basepath ~ directory }}/dist/fonts/pt-serif-700.woff2" as="font" crossorigin>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">

    <link rel="icon" href="/{{ basepath ~ directory }}/favicon.ico" sizes="any"><!-- 32×32 -->
    <link rel="icon" href="/{{ basepath ~ directory }}/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/{{ basepath ~ directory }}/apple-touch-icon.png"><!-- 180×180 -->
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
