/*------------------------------------------------------------------------------
Organism: Issue
------------------------------------------------------------------------------*/
.block--issue-content-block-1 {
  max-width: var(--content-area-max-width);
  margin: 0 auto;
}
.node--type-issue {
  .field--field-paragraph {
    > .field-item {
      margin-bottom: var(--space--md);
      @media(min-width:$medium) {
        margin-bottom: var(--space--3xl);
      }
    }
  }
}
