/*------------------------------------------------------------------------------
Molecule: Block - Page Title
------------------------------------------------------------------------------*/
@import "../../../00-utilities/_breakpoints.scss";
.block--page-title-block {
  --h1-size: var(--font-size--2xl);
  --heading-color: var(--black);

  text-align: center;
  h1 {
    margin-top: var(--space--xs);
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    font-family: var(--font--title);
    font-weight: var(--font-weight--black);
    @media(min-width:$small) {
      margin-left: -2rem;
    }
  }
}
