/*------------------------------------------------------------------------------
Atom: Images
------------------------------------------------------------------------------*/
img {
  display: block;
  max-width: 100%;
  height: initial;
}
.field--field-caption {
  margin: var(--space--xs);
  font-size: var(--font-size--sm);
  font-style: italic;
}
