/*------------------------------------------------------------------------------
Organism: Page
------------------------------------------------------------------------------*/
html {
  scroll-behavior: smooth;

  color: var(--black);
  font-family: var(--font--sans-serif);
  font-size: calc(1rem + 0.5vw);
  font-display: auto;
  * {
    box-sizing: border-box;
  }
  @media (min-width: $large) {
    font-size: calc(1rem + (var(--content-area-max-width) * 0.003));
  }
  @media (print) {
    font-size: 12pt;
  }
}
iframe {
  border: 0;
}
.path-frontpage .block--page-title-block {
  @include visually-hidden;
}
