{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.content: The main content of the current page.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container {{ classes }}">

  <header role="banner">
    <a class="skip-link visually-hidden focusable" href="#main-content">Skip to main content</a>
    {% if page.header %}
      {{ page.header }}
    {% endif %}
  </header>

  <main id="main-content">   

    <div class="layout-content search-page">
      {% if page.content %}
        {{ page.content }}
      {% endif %}
    </div>{# /.layout-content #}

  </main>

  <footer role="contentinfo">
    <div class="logo">
      <img src="/themes/contrib/wwundow/logo.svg" alt="Western Washington University - Make Waves">
    </div>

    {% if page.footer %}
      {{ page.footer }}
    {% endif %}   
  </footer>  

</div>{# /.layout-container #}
