{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.content: The main content of the current page.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container">

  <header role="banner">
    <a class="skip-link visually-hidden focusable" href="#main-content">Skip to main content</a>        
    <div class="header-wrapper">
      {% if page.header %}
        {{ page.header }}
      {% endif %}    
<div class="window-logo">
	<a href="/">
    <span class="visually-hidden">Window</span>
		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 575.54 86.73" aria-hidden="true">
			<g id="Layer_2" data-name="Layer 2">
				<g id="Layer_1-2" data-name="Layer 1"><path d="M118.77,4a12,12,0,0,0-2.42,1.77c-.24.24-.59.63-1.06,1.18a20.38,20.38,0,0,0-1.66,2.3,32.45,32.45,0,0,0-2,3.78,60,60,0,0,0-2.24,5.72q-1.89,5.79-4.37,12.8T100,46Q97.46,53.46,94.87,61T90,75.17l-5,11.32H83.9q-3.2-8.49-6-16.28t-5.31-15q-2.53-7.19-4.9-14T62.89,27.85q-1.89,5.43-4,11.38t-4.25,12.1q-2.12,6.14-4.24,12.09T46.26,74.93l-5.2,11.56H39.65Q36,76.94,32.75,68.32T26.49,51.74q-3-8-5.84-15.46L15,21.36c-.55-1.5-1.05-2.79-1.48-3.9s-.82-2.12-1.18-3.06-.73-1.85-1.12-2.72S10.38,9.91,9.91,9c-.23-.47-.57-1.06-1-1.77A8.62,8.62,0,0,0,7.08,5.13,12.77,12.77,0,0,0,4.25,3.36,11.45,11.45,0,0,0,0,2.48V1.18H33.28V2.36a13.81,13.81,0,0,0-2,.24,14.92,14.92,0,0,0-2.95.82,7.27,7.27,0,0,0-2.65,1.77,4.44,4.44,0,0,0-1.13,3.19,22.68,22.68,0,0,0,1.24,4.89Q27,17.11,29,22.6c1.33,3.65,2.81,7.65,4.42,12s3.23,8.6,4.84,12.81,3.13,8.14,4.54,11.8,2.56,6.66,3.43,9c.23-.62.82-2.26,1.77-4.89l3.54-9.92q2.11-6,4.72-13.45t5.19-15.63Q59.71,19.59,58.29,16c-.94-2.4-2-4.74-3.07-7A14.35,14.35,0,0,0,54,7,10,10,0,0,0,51.86,4.9,11.57,11.57,0,0,0,48.5,3.25a18.1,18.1,0,0,0-4.84-.77V1.18H80.59V2.36c-.47.08-1.31.2-2.53.35a18.07,18.07,0,0,0-3.66.89,11.09,11.09,0,0,0-3.3,1.83,3.61,3.61,0,0,0-1.48,3,28.57,28.57,0,0,0,1.3,4.78q1.29,4.06,3.3,9.91t4.49,12.68q2.48,6.86,4.72,13.16T87.5,60.24l2.65,7.26c.24-.55.65-1.72,1.24-3.49s1.34-3.93,2.24-6.49,1.89-5.4,3-8.55,2.13-6.35,3.19-9.62,2.12-6.53,3.19-9.79,2-6.31,2.89-9.15a45,45,0,0,0,1.88-7.9Q108,10,108,8.85A4,4,0,0,0,106.91,6a9.21,9.21,0,0,0-2.6-1.89A15.19,15.19,0,0,0,101,2.89a23.22,23.22,0,0,0-3.19-.53V1.18h26V2.36A12.05,12.05,0,0,0,118.77,4Z"/><path d="M127.23,86.14V85a24.15,24.15,0,0,0,5.48-1.53A11.61,11.61,0,0,0,137,80.36a4.82,4.82,0,0,0,.89-2,27.21,27.21,0,0,0,.47-3.07c.12-1.18.19-2.42.23-3.71s.06-2.58.06-3.84c0-1.1,0-2.59.06-4.48s.08-4,.12-6.2.06-4.54.06-6.9V16.05c0-1.42-.06-2.73-.18-4a24.26,24.26,0,0,0-.53-3.3,5.41,5.41,0,0,0-1.06-2.3,9.33,9.33,0,0,0-4.07-2.89,24.12,24.12,0,0,0-5.49-1.24V1.18h35.28V2.36a31,31,0,0,0-5.31,1.3,7.62,7.62,0,0,0-4.36,3.77,11.13,11.13,0,0,0-1.12,5.08c0,2-.1,4-.18,5.78,0,2,0,3.91-.06,5.84s-.06,3.88-.06,5.84V69.5c0,2.28,0,4.49.12,6.61A8.45,8.45,0,0,0,153,80.59a8.81,8.81,0,0,0,4.49,3.07A24.16,24.16,0,0,0,163,85v1.18Z"/><path d="M259.09,4.6A10.39,10.39,0,0,0,255,9.68,19.93,19.93,0,0,0,254,16.22q-.24,4.79-.47,10.21-.24,5.07-.42,12t-.17,14.81v7.55c0,2.75,0,5.57.06,8.44s0,5.72,0,8.55v7.67a1.06,1.06,0,0,1-.29.77,1.24,1.24,0,0,1-.89.29,3.24,3.24,0,0,1-2.12-1.18q-10-11.57-18.29-21.24T215.67,45.61q-7.5-8.79-14.69-17.17T185.75,11.09v49.8q0,6,.3,10.85a19.49,19.49,0,0,0,1.47,7.2A8.56,8.56,0,0,0,191.59,83,24.22,24.22,0,0,0,199.21,85v1.18h-29V85a23.21,23.21,0,0,0,5.66-1.48,9.21,9.21,0,0,0,4.49-3.71,16.25,16.25,0,0,0,2.12-7.32q.47-4.83.71-11.56.22-5.07.35-12t.12-14.81V19.71c0-1.58,0-3.5-.12-5.79a13.66,13.66,0,0,0-1.65-5.6,10.8,10.8,0,0,0-3.07-3.42A11.61,11.61,0,0,0,175,3.13a31.29,31.29,0,0,0-4-.77V1.18h24l55.93,65.37V26.43q0-4.71-.12-9a21.27,21.27,0,0,0-1.06-6.78,10.82,10.82,0,0,0-4.19-5.37,20.79,20.79,0,0,0-8.67-2.89V1.18h29.26V2.36A17.75,17.75,0,0,0,259.09,4.6Z"/><path d="M362.39,58.06a38.29,38.29,0,0,1-5.78,11.56,34.15,34.15,0,0,1-8.5,8,46.11,46.11,0,0,1-10.27,5.08,56.48,56.48,0,0,1-11.21,2.65,85.43,85.43,0,0,1-11.21.77H272.35V85a21.32,21.32,0,0,0,5.73-1.53,11.24,11.24,0,0,0,4.19-2.84,4,4,0,0,0,.88-2c.2-1,.37-2,.53-3.19S284,73,284,71.63s.11-2.64.11-3.9c0-1.1,0-2.59.06-4.48s.08-4,.12-6.2.06-4.54.06-6.9V16.05c0-1.42-.06-2.73-.18-4a24.26,24.26,0,0,0-.53-3.3,5.41,5.41,0,0,0-1.06-2.3,9.26,9.26,0,0,0-4.25-2.95,27.84,27.84,0,0,0-5.54-1.18V1.18q4.95,0,14.27-.06t22.54-.06h7.55q3.9,0,7.79.36a65.46,65.46,0,0,1,7.79,1.18,39.59,39.59,0,0,1,7.67,2.47,44.73,44.73,0,0,1,9.32,5.43,36.13,36.13,0,0,1,7.61,7.85,38.13,38.13,0,0,1,5.19,10.5,43.79,43.79,0,0,1,1.95,13.63A52,52,0,0,1,362.39,58.06ZM347.87,29.38A42.56,42.56,0,0,0,342,17.64a37.71,37.71,0,0,0-9-8.91A27.7,27.7,0,0,0,321.68,4c-1.58-.31-3.31-.57-5.19-.76a67.85,67.85,0,0,0-7-.3q-1.41,0-3.06.06c-1.11,0-2.19.12-3.25.24l-2.95.29a12.9,12.9,0,0,0-2.18.35q-.6,5.79-.71,15.93T297.25,44V57.82q0,6.13.12,10,0,1.65.18,3.6c.12,1.3.25,2.56.41,3.77a15.33,15.33,0,0,0,.77,3.31A5.74,5.74,0,0,0,300,80.71a10.84,10.84,0,0,0,5.95,3,38.67,38.67,0,0,0,6.79.65q2.94,0,6.08-.3A29.2,29.2,0,0,0,324.63,83q12.74-3.65,19.05-14.22t6.32-26A42.51,42.51,0,0,0,347.87,29.38Z"/><path d="M455.76,60.53a43.88,43.88,0,0,1-9.62,13.93A42.39,42.39,0,0,1,432,83.54a47.74,47.74,0,0,1-34.16.06,42.4,42.4,0,0,1-14-8.85,41.56,41.56,0,0,1-9.5-13.69,43.29,43.29,0,0,1-3.48-17.52,43.74,43.74,0,0,1,3.66-18.23,41,41,0,0,1,9.85-13.69A43.34,43.34,0,0,1,398.83,3a51,51,0,0,1,17.52-3,43.86,43.86,0,0,1,18,3.54A40.84,40.84,0,0,1,447.85,13a41.52,41.52,0,0,1,8.5,13.75,45.5,45.5,0,0,1,2.95,16.28A42.78,42.78,0,0,1,455.76,60.53ZM442.84,28.67a46,46,0,0,0-5.55-13.27A31.53,31.53,0,0,0,428,5.72,23,23,0,0,0,414.93,2a23.5,23.5,0,0,0-13.27,3.71,30.37,30.37,0,0,0-9.21,9.62,44.54,44.54,0,0,0-5.31,13.39,68,68,0,0,0-1.71,15.17,62.39,62.39,0,0,0,1.89,15.45,42.83,42.83,0,0,0,5.61,13.1,29.18,29.18,0,0,0,9.32,9.09,24.51,24.51,0,0,0,13,3.42,22.23,22.23,0,0,0,12.92-3.78,31.8,31.8,0,0,0,9.14-9.73,46.78,46.78,0,0,0,5.49-13.39,62.08,62.08,0,0,0,1.83-14.87A59.69,59.69,0,0,0,442.84,28.67Z"/><path d="M570.53,4a12,12,0,0,0-2.42,1.77c-.24.24-.59.63-1.06,1.18a20.38,20.38,0,0,0-1.66,2.3,32.45,32.45,0,0,0-2,3.78,60,60,0,0,0-2.24,5.72q-1.89,5.79-4.37,12.8t-5,14.46q-2.55,7.44-5.14,14.93t-4.84,14.22l-4.95,11.32h-1.18q-3.2-8.49-6-16.28t-5.31-15q-2.53-7.19-4.9-14t-4.84-13.39q-1.87,5.43-4,11.38t-4.25,12.1q-2.11,6.14-4.24,12.09T498,74.93l-5.2,11.56h-1.41q-3.66-9.55-6.9-18.17t-6.26-16.58q-3-8-5.84-15.46l-5.66-14.92c-.55-1.5-1.05-2.79-1.48-3.9s-.82-2.12-1.18-3.06-.73-1.85-1.12-2.72-.83-1.77-1.3-2.71c-.23-.47-.57-1.06-1-1.77a8.62,8.62,0,0,0-1.83-2.07A12.77,12.77,0,0,0,456,3.36a11.45,11.45,0,0,0-4.25-.88V1.18H485V2.36a13.81,13.81,0,0,0-2,.24,14.92,14.92,0,0,0-2.95.82,7.27,7.27,0,0,0-2.65,1.77,4.44,4.44,0,0,0-1.13,3.19,22.68,22.68,0,0,0,1.24,4.89q1.24,3.84,3.25,9.33c1.33,3.65,2.81,7.65,4.42,12s3.23,8.6,4.84,12.81,3.13,8.14,4.54,11.8,2.56,6.66,3.43,9c.23-.62.82-2.26,1.77-4.89l3.54-9.92q2.12-6,4.72-13.45t5.19-15.63q-1.77-4.72-3.19-8.32c-.94-2.4-2-4.74-3.07-7a14.35,14.35,0,0,0-1.23-2,10,10,0,0,0-2.13-2.06,11.57,11.57,0,0,0-3.36-1.65,18.1,18.1,0,0,0-4.84-.77V1.18h36.93V2.36c-.47.08-1.31.2-2.53.35a18.07,18.07,0,0,0-3.66.89,11.09,11.09,0,0,0-3.3,1.83,3.61,3.61,0,0,0-1.48,3,28.57,28.57,0,0,0,1.3,4.78q1.29,4.06,3.3,9.91t4.49,12.68q2.47,6.86,4.72,13.16t4.07,11.33l2.65,7.26c.24-.55.65-1.72,1.24-3.49s1.34-3.93,2.24-6.49,1.89-5.4,3-8.55,2.13-6.35,3.19-9.62,2.12-6.53,3.19-9.79,2-6.31,2.89-9.15a45,45,0,0,0,1.88-7.9q.24-2.47.24-3.66A4,4,0,0,0,558.67,6a9.21,9.21,0,0,0-2.6-1.89,15.19,15.19,0,0,0-3.3-1.18,23.22,23.22,0,0,0-3.19-.53V1.18h26V2.36A12.1,12.1,0,0,0,570.53,4Z"/></g>
			</g>
		</svg>
	</a>
</div>

      <div class="wwu-logo"><a href="https://wwu.edu/"><img src="/themes/contrib/wwundow/logo.svg" alt="Western Washington University"/></a></div>
    </div>
  </header>

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

<div class="layout-content">

      {% if page.content %}
        {{ page.content }}
      {% endif %}
    </div>{# /.layout-content #}

  </main>

  <footer role="contentinfo">
    {% if page.footer %}
      {{ page.footer }}
    {% endif %}   

    <div class="logo">
      <a href="https://wwu.edu"><img src="/themes/contrib/wwundow/logo--make-waves.svg" alt="Western Washington University - Make Waves"/></a>
    </div>
  </footer>  

</div>{# /.layout-container #}
