{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('wwundow/animate_on_scroll') }}
{{ attach_library('wwundow/block_media') }}
{%
  set classes = [
    'block',
    'block--' ~ (derivative_plugin_id ? derivative_plugin_id|clean_class : plugin_id|clean_class),
	'block--media',
    block_content.field_background_color.0.value,
    block_content.field_align.0.value,
    block_content.field_blank_space_amount.0.value,
    block_content.field_css_class.0.value
  ]
%}
{% set attributes = attributes.addClass(classes) %}
{% set title_attributes = title_attributes.addClass('field--title') %}
<div{{attributes}} {% if block_content.field_animation.0.value is not empty %} data-aos="{{ block_content.field_animation.0.value }}" {% endif %} {% if block_content.field_width.0.value is not empty %} style="width: {{ block_content.field_width.0.value }}%" {% endif %}>
	{{ title_prefix }}
	{% if label %}
		{% if block_content.field_heading_level.0.value is not empty %}
			<{{block_content.field_heading_level.0.value}} {{ title_attributes }}>{{ label }}</{{block_content.field_heading_level.0.value}}>
		{% else %}
			<h2 {{ title_attributes }}>{{ label }}</h2>
		{% endif %}
	{% endif %}
	{{ title_suffix }}

	{% block content %}
		{{ content }}
	{% endblock %}
</div>

