/*------------------------------------------------------------------------------
Molecule: Media Blocks
------------------------------------------------------------------------------*/
.block--media {
  picture,
  img {
    width: 100%;
  }
  &.left {
    margin-right: auto;
  }
  &.center {
    margin: auto;
  }
  &.right {
    margin-left: auto;
  }
}
