/*------------------------------------------------------------------------------
Organism: Views - Story Photos
------------------------------------------------------------------------------*/
@import "../../../00-utilities/_breakpoints.scss";
.story-photos {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  .views-row {
    width: 80%;
  }
  .field--field-caption {
    margin-top: var(--space--xs);
    font-size: var(--font-size--xs);
    font-style: italic;
  }
}
.views-field-field-other-images {
  justify-self: center;
  img {
    margin: auto;
  }
}
.block--story-blocks-odd-photos .views-row {
  align-self: center;
  @media (min-width: $medium) {
    align-self: end;
  }
}
.block--story-blocks-even-photos .views-row {
  align-self: center;
  @media (min-width: $medium) {
    align-self: start;
  }
}
.block--story-blocks-odd-photos,
.block--story-blocks-odd-photos > div,
.block--story-blocks-even-photos,
.block--story-blocks-even-photos > div,
.view--story-blocks {
  height: 100%;
}
.block--story-blocks-title-subhead {
  --heading-color: var(--blue--lighter--60);

  text-align: center;
  color: var(--white);
  background-color: var(--dark-blue);
  h1 {
    margin-bottom: var(--space--xs);
  }
  .views-field-field-subhead {
    font-size: var(--font-size--lg);
  }
  .views-field-field-author {
    margin-top: var(--space--md);
    font-weight: var(--font-weight--bold);
  }
  @media (min-width: $medium) {
    --h1-size: var(--font-size--9xl);

    padding: var(--space--md) 13rem;
  }
}
