/*------------------------------------------------------------------------------
Organism: Paragraph Image Gallery
------------------------------------------------------------------------------*/
@import "../../../00-utilities/_breakpoints.scss";
.paragraph--type--image-gallery {
  margin: var(--space--2xl) 0;
  .field--field-media {
    display: grid;
    width: 100vw;
    transform: translatex(calc(-1 * var(--space--md)));
    @media (min-width: $small) {
      grid-auto-flow: column;
    }
    @media (min-width: $large) {
      transform: translatex(calc((100vw - var(--content-area-max-width--sm))/ -2));
    }
    > .field-item {
      > div {
        display: grid;
        grid-template-rows: 60vh auto;
        height: 100%;
      }
    }
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
