/*------------------------------------------------------------------------------
Molecule: Header
------------------------------------------------------------------------------*/
@import "../../00-utilities/_breakpoints.scss";
.header-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--space--md);
  background-color: var(--white);
  @media (min-width: $large) {
    padding-left: var(--space--xl);
  }
}
.window-logo {
  width: 50%;
  max-width: 30rem;
  svg {
    fill: var(--black);
    @media (forced-colors: active) {
      fill: LinkText;
    }
  }
  a {
    display: block;
    &:active,
    &:hover,
    &:focus {
      background: none;
    }
  }
}
.wwu-logo {
  display: inline-block;
  width: 20vw;
  max-width: var(--logo-size);
}
.region--header {
  min-width: var(--toggle-size--lg);
}
