.user-login-form {
  padding: 20vh 0;
  text-align: center;
  .js-form-item,
  .form-actions {
    display: none;
  }
}
.cas-login-link {
  padding: var(--space--sm);
  color: var(--white);
  background-color: var(--blue);
  position: relative;
  z-index: 5;
}
