/*------------------------------------------------------------------------------
Molecule: Article Blocks
------------------------------------------------------------------------------*/
.block--nodearticlebody {
  padding: var(--space--xs);
}
.block--nodearticlefield-paragraph {
  max-width: var(--content-area-max-width--sm);
  margin: auto;
}
