/*------------------------------------------------------------------------------
Atom: Links
------------------------------------------------------------------------------*/
:root {
  --link-background-color: var(--dark-blue--darker--20);
  --link-color: var(--blue--darker--20);
  --link-color--focus: var(--white);
  --link-decoration-color: var(--blue--lighter--40);
}
a {
  text-decoration-thickness: 2px;

  transition: all var(--ease--standard) var(--transition-speed--fast);
  text-decoration-color: var(--link-decoration-color);
  text-underline-offset: 6px;
  color: var(--link-color);
  &:focus {
    @include default-focus-outline;
  }
  &.active,
  &:focus,
  &:hover {
    color: var(--link-color--focus);
    background-color: var(--link-background-color);
  }
}
.focusable {
  &:focus {
    clip-path: none;
  }
}
@media (forced-colors: active) {
  a:focus {
    outline-color: LinkText;
  }
}
