/*------------------------------------------------------------------------------
Templates: Layouts - Four column
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
@import "../../../00-utilities/_breakpoints.scss";
.layout--fourcol-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: var(--content-area-max-width);
  margin: auto;
  > .layout__region {
    flex: 0 1 100%;
    font-size: var(--font-size--sm);
    @media (min-width: $small) {
      flex: 0 1 24%;
    }
  }
}
.layout--fourcol--page-width {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  > .layout__region {
    flex: 1 1 100%;
    max-width: none;
  }
  > .layout__region--first,
  > .layout__region--second,
  > .layout__region--third,
  > .layout__region--fourth {
    @media (min-width: $small) {
      flex: 1 1 25%;
    }
  }
}
