/*------------------------------------------------------------------------------
Organism: Paragraph Banner
------------------------------------------------------------------------------*/
@import "../../../00-utilities/_breakpoints.scss";
@import "../../../00-utilities/_border-animations.scss";
.paragraph--type--banner {
  @include top-border-animations;

  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  padding: 0;
  transition: all var(--ease--standard) var(--transition-speed--fast);
  box-shadow: var(--shadow--soft);
  @media (min-width: $small) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: unset;
  }
  a {
    text-decoration: none;
    text-transform: none;
    color: var(--black);
    font-family: var(--font--sans-serif);
    &:focus {
      outline: none;
    }
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      content: "";
    }
  }
  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .image,
  .image div {
    height: 100%;
  }
  .text {
    @include bottom-border-animations;

    display: grid;
    align-content: center;
    padding: var(--space--lg);
    font-size: var(--font-size--lg);
  }
  .title {
    margin: 0;
    text-transform: uppercase;
    color: var(--link-color);
    font-family: var(--font--title);
  }
  &:hover,
  &:focus-within {
    color: var(--white);
    background-color: var(--dark-blue);
    .title {
      color: var(--link-color--focus);
    }
    a {
      background: none;
    }
  }
  &:focus-within {
    @include border-animation-top-offset;
    .text {
      @include border-animation-bottom-offset;
    }
  }
  &.dark-blue {
    &:hover,
    &:focus-within {
      background-color: var(--blue);
    }
  }
}
.animations-off {
  .paragraph--type--banner {
    @include border-animations-off;
    .text {
      @include border-animations-off;
    }
  }
  &:focus-within {
    @include border-animations-off;
    .text {
      @include border-animations-off;
    }
  }
}
