/*------------------------------------------------------------------------------
Organism: Views - Mini Pager
------------------------------------------------------------------------------*/
.pager__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 0;
  list-style: none;
}
.pager__item {
  a {
    display: grid;
    align-content: center;
    justify-content: center;
    min-width: var(--touch-target--min);
    min-height: var(--touch-target--min);
  }
}
