/*------------------------------------------------------------------------------
Molecule: Footer
------------------------------------------------------------------------------*/
footer {
  gap: var(--space--2xl);

  display: flex;
  flex-flow: column;
  justify-items: center;
  padding-bottom: var(--space--lg);
  .logo {
    margin: auto;
    img {
      width: var(--logo-size);
    }
  }
}
.menu--footer {
  > ul {
    gap: var(--space--lg);

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    list-style: none;
    a {
      padding: var(--space--sm);
      text-decoration: none;
      text-transform: uppercase;
      color: var(--dark-blue);
      font-family: var(--font--title);
      font-weight: var(--font-weight--black);
      &:hover,
      &:active,
      &:focus {
        color: var(--white);
      }
    }
  }
}
