/*------------------------------------------------------------------------------
Molecule: Messages
--------------------------------------------------------------------------------
Drupal system messages
------------------------------------------------------------------------------*/
.messages {
  position: relative;
  z-index: 1;
  ul {
    margin-bottom: 0;
  }
}
.messages--status,
.messages--warning,
.messages--error {
  display: block;
  padding: var(--space--sm);
  text-align: center;
  border: solid var(--border-width--md);
}
.messages--status {
  color: var(--white);
  background-color: var(--blue);
  a {
    color: var(--white);
  }
}
.messages--warning {
  background-color: var(--yellow);
}
.messages--error {
  color: var(--white);
  background-color: var(--red);
  a {
    color: var(--white);
  }
}
.node--unpublished {
  &:before {
    position: absolute;
    top: calc(-1 * var(--space--xl));
    right: 0;
    box-sizing: border-box;
    width: 100%;
    padding: var(--space--2xs);
    content: "Unpublished";
    text-align: center;
    color: var(--black);
    background-color: var(--yellow);
  }
}
