/*------------------------------------------------------------------------------
Molecule: Card
------------------------------------------------------------------------------*/
@import "../../00-utilities/_breakpoints.scss";
@import "../../00-utilities/_border-animations.scss";
.card-container,
.paragraph--type--story-collection .field-items {
  --card-image-height: 18rem;
  gap: var(--space--2xl);
  --link-background-color: transparent;
  --link-color: var(--black);
  --link-color--focus: var(--black);
  --link-decoration-color: var(--blue);

  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 var(--space--sm);
  @media (min-width: $small) {
    margin: 0 auto;
  }
  .field--field-media-image {
    height: var(--card-image-height);
  }
}
.card-container,
.card-col-33-34-33 .field-items {
  @media (min-width: $small) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.card-col-33-67 .field-items {
  @media (min-width: $small) {
    grid-template-columns: 1fr 2fr;
  }
}
.card-col-50-50 .field-items {
  @media (min-width: $small) {
    grid-template-columns: 1fr 1fr;
  }
}
.card-col-67-33 .field-items {
  @media (min-width: $small) {
    grid-template-columns: 2fr 1fr;
  }
}
.card-col-100 .field-items {
  --card-image-height: 22rem;
  @media (min-width: $small) {
    grid-template-columns: 1fr;
  }
  img {
    @media (min-width: $small) {
      object-position: 50% 25%;
    }
  }
}
.view--header {
  top: var(--space--md);
}
.paragraph--type--story-collection {
  position: relative;
  h2,
  h3 {
    text-transform: uppercase;
    font-family: var(--font--title);
  }
}
.card {
  @include top-border-animations;

  position: relative;
  display: flex;
  flex-flow: column;
  align-content: start;
  max-width: 60vw;
  height: 100%;
  margin: auto;
  cursor: pointer;
  transition: ($transition_duration*$pipes)+$transition_duration ease;
  img {
    object-position: 50% 25%;

    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .views-field-field-featured-image,
  .field--field-featured-image,
  .views-field-field-cover-image {
    order: 0;
    box-shadow: var(--shadow--soft);
    img {
      width: 100%;
    }
  }
  .title {
    --h2-size: var(--font-size--lg);
    --h3-size: var(--font-size--lg);

    @include bottom-border-animations;

    order: 1;
    font-family: var(--font--serif);
    h2 {
      margin-top: var(--space--2xl);
      margin-bottom: var(--space--md);
    }
    a {
      text-decoration: none;
      text-transform: none;
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: "";
      }
      &:focus {
        outline: none;
      }
    }
  }
  .views-field-field-subhead,
  .field--field-subhead {
    order: 2;
  }
  &:hover,
  &:focus-within {
    @include border-animation-top-offset;
    .views-field-title,
    .title {
      @include border-animation-bottom-offset;
    }
  }
}
.animations-off {
  .card {
    @include border-animations-off;
    .title {
      @include border-animations-off;
    }
  }
  &:hover,
  &:focus-within {
    @include border-animations-off;
    .views-field-title,
    .title {
      @include border-animations-off;
    }
  }
}
