/*------------------------------------------------------------------------------
Molecule: Video
------------------------------------------------------------------------------*/
.block--nodearticlefield-featured-video,
.field--field-media-oembed-video {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  div,
  iframe {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.layout-builder__region {
  .block--nodearticlefield-featured-video,
  .field--field-media-oembed-video {
    height: initial;
    padding: 1.5em;
  }
}
