/*------------------------------------------------------------------------------
Organism: Paragraph Media
------------------------------------------------------------------------------*/
@import "../../../00-utilities/_breakpoints.scss";
.paragraph--type--media {
  .title {
    text-transform: uppercase;
    font-family: var(--font--title);
  }
  iframe {
    aspect-ratio: 16 / 9;

    display: block;
    width: 100%;
    height: auto;
  }
  img {
    width: 100%;
  }
  @media(min-width: $small) {
    &.right {
      float: right;
      width: 60%;
    }
    &.left {
      float: left;
      width: 60%;
      font: 1em sans-serif;
    }
  }
  @media(min-width: $large) {
    &.right {
      margin-right: -20%;
      margin-left: var(--space--md);
    }
    &.left {
      margin-right: var(--space--md);
      margin-left: -20%;
    }
    &.stretch {
      width: 100vw;
      transform: translatex(calc((100vw - var(--content-area-max-width--sm))/-2));
    }
  }
}
.path-frontpage {
  .paragraph--type--media {
    --heading-color: var(--white);

    padding: var(--space--md);
    background-color: var(--blue);
    .title {
      margin-top: 0;
      margin-bottom: var(--space--md);
    }
    .field--field-media-oembed-video {
      max-width: unset;
      margin: calc(-1 * var(--space--md));
      margin-top: var(--space--md);
    }
    .field--field-caption {
      margin: 0;
      text-align: unset;
      color: var(--white);
      font-size: var(--font-size--md);
      font-style: unset;
    }
  }
}
