/*------------------------------------------------------------------------------
Molecule: Image Gallery
------------------------------------------------------------------------------*/
@import "../../../00-utilities/_breakpoints.scss";
.block--image-gallery {
  z-index: 1;
  height: 100%;
  .field--field-image {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1 / span 1;
    grid-row: 1 / span all;
    align-items: stretch;
    .item {
      > div {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        width: 100%;
        height: 100%;
      }
    }
    > div {
      flex: 1 1 33%;
      &:nth-of-type(2n),
      &:nth-of-type(3n) {
        flex: 1 1 50%;
      }
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &.left {
    @media (min-width: $small) {
      float: left;
      width: 50vw;
      margin-right: var(--space--sm);
      margin-left: var(--content-area-offset--sm);
    }
  }
  &.right {
    @media (min-width: $small) {
      float: right;
      width: 50vw;
      margin-right: var(--content-area-offset--sm);
      margin-left: var(--space--sm);
    }
  }
  &.three-up {
    .field--field-image {
      > div {
        flex: 1 1 33%;
      }
    }
  }
  &.four-up {
    .field--field-image {
      > div {
        flex: 1 1 25%;
      }
    }
  }
  &.fit-all {
    flex-flow: row nowrap;
    .field--field-image {
      > div {
        flex: 1 1 0;
      }
      .item > div {
        display: grid;
      }
    }
  }
}
