/*------------------------------------------------------------------------------
Molecule: Credits
------------------------------------------------------------------------------*/
.block--story-blocks-story-credits {
  margin: var(--space--2xl) 0;
  text-align: center;
  font-size: var(--font-size--sm);
  &:before {
    position: relative;
    display: block;
    height: var(--border-width--lg);
    margin: 0 auto var(--space--2xl);
    content: "";
    background-color: var(--blue);
  }
}
.layout--version-3 {
  .block--story-blocks-story-credits {
    &:before {
      width: 50%;
      background-color: var(--dark-blue);
    }
  }
}
