{#
/**
 * @file
 * Two column layout that extends across the full page width.
 */
 #}
  {%
   set classes = [
     'layout',
     'layout--twocol--page-width',
     'layout--twocol--page-width--60-40'
   ]
  %}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.first %}
      <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first') }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second') }}>
        {{ content.second }}
      </div>
    {% endif %}
  </div>
{% endif %}
