{#
/**
 * @file
 * Two column layout. This layout does not get used by Drupal, but imitates the layout for pattern lab.
 */
 #}
{{ attach_library('wwundow/layout_twocol') }}
{% if content %}
  <div{{ attributes }}>
    {% if content.first %}
      <div {{ region_attributes.first }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second }}>
        {{ content.second }}
      </div>
    {% endif %}
  </div>
{% endif %}
