/*------------------------------------------------------------------------------
Molecule: Block - Space
------------------------------------------------------------------------------*/
.vertical-space--1x {
  @media (min-width: $medium) {
    height: var(--space--sm);
  }
}
.vertical-space--2x {
  @media (min-width: $medium) {
    height: calc(var(--space--sm) * 2);
  }
}
.vertical-space--3x {
  @media (min-width: $medium) {
    height: calc(var(--space--sm) * 3);
  }
}
.vertical-space--4x {
  @media (min-width: $medium) {
    height: calc(var(--space--sm) * 4);
  }
}
.vertical-space--5x {
  @media (min-width: $medium) {
    height: calc(var(--space--sm) * 5);
  }
}
.vertical-space--6x {
  @media (min-width: $medium) {
    height: calc(var(--space--sm) * 6);
  }
}
.vertical-space--7x {
  @media (min-width: $medium) {
    height: calc(var(--space--sm) * 7);
  }
}
.vertical-space--8x {
  @media (min-width: $medium) {
    height: calc(var(--space--sm) * 8);
  }
}
