{#
/**
 * @file
 * Single column layout that extends across the full page width. 
 */
 #}
{{ attach_library('wwundow/layout_threecol') }}
 {%
  set classes = [
    'layout',
    'layout--onecol--page-width'
  ]
 %}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div {{ region_attributes.first.addClass('layout__region', 'layout__region--content') }}>
      {{ content.first }}
    </div>
  </div>
{% endif %}
