/*------------------------------------------------------------------------------
Templates: Layouts - One column
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
@import "../../../00-utilities/_breakpoints.scss";
.layout--onecol .layout__region {
  width: 100%;
  margin: auto;
  @media (min-width: 62.5rem) {
    max-width: var(--content-area-max-width--sm);
  }
}
.layout--onecol--full .layout__region {
  width: 100%;
  @media (min-width: $large) {
    max-width: var(--content-area-max-width);
    margin: auto;
  }
}
.layout--onecol--page-width {
  max-width: 100vw;
}
