/*------------------------------------------------------------------------------
Organism: Paragraph Quote
------------------------------------------------------------------------------*/
@import "../../../00-utilities/_breakpoints.scss";
.paragraph--type--quote {
  font-family: var(--font--serif);
  &.center,
  &.stretch {
    text-align: center;
  }
  @media (min-width: $small) {
    &.left {
      float: left;
      width: 60%;
    }
    &.right {
      float: right;
      width: 60%;
    }
  }
  @media (min-width: $large) {
    &.stretch {
      margin-right: -10%;
      margin-left: -10%;
    }
    &.left {
      margin-right: var(--space--md);
      margin-left: -20%;
    }
    &.right {
      margin-right: -20%;
      margin-left: var(--space--md);
    }
  }
}
.layout--version-1 {
  .paragraph--type--quote {
    font-size: var(--font-size--3xl);
    font-weight: var(--font-weight--bold);
  }
}
.layout--version-2 {
  .paragraph--type--quote {
    color: var(--blue);
    font-size: var(--font-size--3xl);
    font-weight: var(--font-weight--bold);
  }
}
.layout--version-3 {
  .paragraph--type--quote {
    color: var(--dark-blue);
    font-size: var(--font-size--3xl);
    font-weight: var(--font-weight--black);
  }
}
