/*------------------------------------------------------------------------------
Organism: Featured Story
------------------------------------------------------------------------------*/
@import "../../../00-utilities/_breakpoints.scss";
.featured-story {
  .views-row,
  .banner {
    display: flex;
    overflow: hidden;
    flex-flow: row wrap;
    transition: all var(--ease--standard) var(--transition-speed--fast);
    @media(min-width: $medium) {
      position: relative;
      display: grid;
      grid-template-columns: 1fr var(--content-area-max-width) 1fr;
      grid-template-rows: 1fr auto;
      border-bottom: solid 0.5rem var(--blue);
    }
    @media(min-width: $large) {
      max-height: 50vh;
    }
  }
  .views-field-field-featured-image,
  .featured-image {
    order: 1;
    grid-column: 1 / span all;
    grid-row: 1 / span 2;
    img {
      width: 100%;
    }
  }
  .views-field-banner-link,
  .banner-link {
    z-index: 1;
    order: 2;
    width: 100%;
    padding: var(--space--sm);
    transition: all var(--ease--standard) var(--transition-speed--fast);
    color: var(--white);
    background-color: var(--blue);
    @media(min-width: $medium) {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
    }
  }
  p {
    margin: 0;
  }
  h2 {
    margin-top: 0;
    margin-bottom: var(--space--xs);
    a {
      text-decoration: none;
      color: var(--white);
      background: none;
      &:focus {
        outline: none;
      }
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: "";
      }
    }
  }
  &:focus-within {
    .views-field-banner-link,
    .banner-link {
      outline: solid var(--border-width--md);
      outline-color: var(--white);
      outline-offset: calc(-1 * var(--border-width--md));
    }
  }
  &:hover,
  &:focus-within {
    .views-field-banner-link,
    .banner-link,
    .banner {
      border-color: var(--dark-blue);
      background-color: var(--dark-blue);
    }
  }
}
.paragraph--type--featured-story {
  width: 100vw;
  transform: translatex(calc(-1 * var(--space--md)));
  @media (min-width: $large) {
    transform: translatex(calc((100vw - var(--content-area-max-width))/-2));
  }
}
