/*------------------------------------------------------------------------------
Atom: Animation Toggle
------------------------------------------------------------------------------*/
.toggle-animation {
  padding: var(--space--xs);
  border: solid var(--black) var(--border-width--md);
  background: transparent;
  font-size: var(--font-size--xs);
}
